<!--Copiar lo de abajo para añadir el footer
<div>
<script>
        var http = new XMLHttpRequest();
        http.onreadystatechange = function(){
            if (http.readyState == 4 && http.status == 200){
                document.body.innerHTML += http.responseText; // you can change the target. As long as you append http.responseText. It will work fine.
            }
        };
        http.open('GET', 'partial/footer.html', true); // note: link the footer.html
        http.send();
    </script>
    </div>
-->

<!-- Footer -->

<style>
  div.gruposCol {
    padding: 1% 6%;
    position: relative;
  }

  a.footerA:link {
    color: #048998;
  }

  a.footerA:visited {
    color: #048998;
  }

  a.footerA:hover {
    color: #3bb4c1;
  }
</style>

<footer class="page-footer font-small blue pt-4" style="background-color:#e9e4e6;color:#048998">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 gruposCol">
        <!-- Content -->
        <h5> <strong>Javaterapia</strong> </h5>
        <p>Donamos diversión</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 gruposCol">
        <!-- Links -->
        <h5 class="text-uppercase">Conócenos</h5>
        <ul class="list-unstyled">
          <li>
            <a class="footerA" style="text-decoration:none" href="index.jsp#nEquipo">Nuestro equipo</a>
          </li>
          <li>
            <a class="footerA" style="text-decoration:none" href="index.jsp#nTrabajo">Nuestro trabajo</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 gruposCol">
        <!-- Links -->
        <h5 class="text-uppercase">Aviso legal</h5>
        <ul class="list-unstyled">
          <li>
            <a class="footerA" style="text-decoration:none" href="#!" data-toggle="modal"
              data-target="#politicaPrivacidad">Política de privacidad</a>
          </li>
          <li>
            <a class="footerA" style="text-decoration:none" href="#!" data-toggle="modal"
              data-target="#politicaCookies">Política de cookies</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      </hr>
    </div>
    <!-- Grid row -->
  </div>

  <!--------------------------------------- POP UP AVISO LEGAL------------------------------------>

  <!----------- Política de PRIVACIDAD ----------->

<!-- Modal -->
<div class="modal fade" id="politicaPrivacidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Política de privacidad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolores atque saepe, tempore perspiciatis veniam ipsa eveniet, 
        explicabo aliquam minima possimus voluptatum, quibusdam nisi! 
        Dicta perspiciatis doloribus officia nam saepe beatae.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>

  <!----------- Política de COOkIES ----------->

<!-- Modal -->
<div class="modal fade" id="politicaCookies" tabindex="-2" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Política de cookies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolores atque saepe, tempore perspiciatis veniam ipsa eveniet, 
        explicabo aliquam minima possimus voluptatum, quibusdam nisi! 
        Dicta perspiciatis doloribus officia nam saepe beatae.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>



  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">

    <a class="footerA" href="https://twitter.com/"><i class="socialIcon fab fa-twitter"
        style="margin-right: 10px; font-size: 25px"></i></a>
    <a class="footerA" href="https://facebook.com/"><i class="socialIcon fab fa-facebook-f"
        style="margin-right: 10px; font-size: 25px"></i></a>
    <a class="footerA" href="https://www.instagram.com/"><i class="socialIcon fab fa-instagram"
        style="margin-right: 10px; font-size: 25px"></i></a>
    <a class="footerA" href="https://gmail.com/"><i class="socialIcon fas fa-envelope" style="font-size: 25px"></i></a>
    <br> <br>
    © Copyright 2019
    <a class="footerA" style="text-decoration:none" href="index.jsp#carouselPrimero"> Javaterapia</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->