/* EFECTO PARALLAX */

/* Añadir <div class="parallax"></div> donde se quiera poner. La imagen a la que se le quiere poner el efecto ha de ponerse en la clase .parallax */

.parallax {
    /* The image used */
    background-image: url("img/water-1330252__340.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -----------------------------Efectos para NAVBAR----------------------------*/
.dropdown-menu, .menuNavBar {
  background-color: #048998 !important;
  margin-bottom: 50px; 
  position: fixed; 
  top:0px; 
  width: 100%; 
  z-index: 2;
}

.navbar-brand, .nav-link, .dropdown-item, .dropdown-item a {
    color: white;
}

.nav-item{
    height:40px !important;
}

a:active {
    background-color: inherit !important;
}

div.navbarDerecha {

    color:white;
    position: absolute;
    right: 20px;
}
/* --------------------------------INDEX -----------------------------------*/

body{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    /* padding-top: 50px; */

}

div.carousel {
    text-align: center;
}

a.BotonCarousel {
  position: relative;
    margin-top: 17%;
    z-index: 1;
    width: 250px;
    height: 100px;
    font-size: 3em;
    background-color: #3bb4c1;
    border-radius: 30px;
    padding-top: 10px !important;
    filter: drop-shadow(8px 8px 10px rgb(59, 59, 59)) !important;
    transition: all 200ms ease !important;
}

a.BotonCarousel:hover{
    filter: drop-shadow(5px 5px 7px rgb(59, 59, 59)) !important;
}

@media only screen and (max-width: 600px){
    a.BotonCarousel {
        position: relative;
          margin-top: 60% !important;
          z-index: 1;
          width: 250px;
          height: 100px;
          font-size: 3em;
          margin-left: -25px;
          background-color: #3bb4c1;
          border-radius: 30px;
      }
}


div.btnDonarXS{
   
    text-align: center;
    margin-left: 25%;
    width: 150px;
    height: 50px;
    font-size: 1em;
    color: white;

}

a.anchorDonar{
    text-decoration:none;

}

a.anchorDonar:link{
    color:white;
  }
  a.anchorDonar:visited{
    color:white;
  }
  a.anchorDonar:hover{
    color:white;
  }

a.anchor{
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
p.intro {
    text-align: justify;
}

h1.titulos{
    font-family: 'Sacramento', cursive;
    font-size: 65px;
    font-weight: bold;
}

img.fotosNosotros{
    width: 100%;
    border-radius: 15%;
}

/*Sección Experiencias*/

#testimonials {
    text-align: center;
    background-color: #3bb4c1;
    color: white;
}

#testimonial-carousel {
    padding: 7% 15%;
    height: 500px !important;
    
}

div.carousel-inner{
    
}

#testimonials h2 {
    font-weight: bold;
    font-size: 2.7rem;
    line-height: 1.5;
}

.maria{
    font-weight: bold !important;
    font-size: 2rem !important;
    line-height: 1.5 !important;
}

@media only screen and (max-width: 600px){

    #testimonials h2 {
        font-weight: bold;
        font-size: 1.7rem;
        line-height: 1.3;
    }

    #testimonial-carousel {
        
        height: 300px !important;
        
    }

    .maria{
        font-weight: bold !important;
        font-size: 1.3rem !important;
        line-height: 1.3 !important;
    }

}

/*------------------------------LOG IN HOSPITALES----------------------------- */

h2.acHospitales{
    font-family: 'Sacramento', cursive;
    font-size: 65px;
    font-weight: bold;
    padding: 6% 3% 2%;
   
}

i.fa-clinic-medical{
    font-size: 65px;
    color:#D50F15;
}

div.formLoginH{
    padding: 1% 4%;

}

#registroHospital{
    text-align: center;
    padding: 7% 15%;
}

div.contactoRegistro{
    display: inline-block;
    position: center;
    margin: 10px;
}

.separador{
    background-color: silver;
    filter: opacity(0.6);
    height: 2px;
    width: 94%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

/*---------------------------- REGISTRO PETICIONES HOSPITAL -------------------------------*/

h2.misPeticiones{
    font-family: 'Sacramento', cursive;
    font-size: 65px;
    font-weight: bold;
    padding: 6% 3% 0%;
    display: inline-block;
    
}

.peticionestarjeta{
    overflow: auto;
    height: 150px;
}

button.nuevaPeticion{
    height: 50px;
      width: 50px;
      border-radius: 50%;
      font-weight: bold;
      font-size: 20px; 
      display: inline-block;
      
}

    form.nuevaPeticion{
    padding: 3% 4% 2%;
    transition: all 200ms ease;
    
}

.eliminarPeticion{

    border: 2px solid red;
    background-color: red;
    font-size: 2em;
    color: white;
    font-weight: bolder;
    padding: 0px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    transition: all 200ms ease;
}

.eliminarPeticion:hover{
    background-color: white;
    color: red;
}

.hideForm{
    display: none;
    
    
}

.displayForm{
    display: block;
    
}

/*Da estilo a un espacio-div donde irá el icono de la categoria
    de juego seleccionada en la página de registro de peticiones del hospital*/
.espacioIconoCategoria {
    width: 200px;
    height: 200px;
    
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}



/*Establece el tamaño del icono de fontawesome y le ajusta los márgenes, para la página de registro
    de peticiones del hospital*/

.iconoTamañoCompleto {
    font-size: 10em;
    margin-top: 10%;
}

/*-----------------------VISTA DONANTE/REALIZAR DONACIÓN----------------------- */

h2.realizarDonacion{
    font-family: 'Sacramento', cursive;
    font-size: 65px;
    font-weight: bold;
    padding: 6% 3% 2%;

}

i.fa-hand-holding{
    font-size: 65px;
    color:#1AAC0E;
}

div.filtrosHC{
    padding: 1% 4%;

}
/*Estilos de las fichas/peticiones, no tocar*/

.fichaPeticion{

    border-radius: 20px;
    min-height: 250px;
    margin-top: 5%;
    transition: all 200ms ease;
    box-shadow: 2px 2px 4px silver;
}

.fichaPeticion:hover{

    box-shadow: 4px 4px 8px grey;
}

.fichaEnProceso{

    filter: opacity(0.5);
    box-shadow: none;
    
}

.fichaEnProceso:hover{
    box-shadow: none;
}

/*-----------------------VISTA DONANTE/CONFIRMAR DONACIÓN----------------------- */

#recordatorioNormas{
    font-weight: bold;
    /* padding:4%  3% 2%; */

}
div.confirmarFichas{
    padding: 1% 4%;
}

#recordatorioNormas{
    text-decoration:none;
}
#recordatorioNormas:link{
    color:#048998;
  }
  #recordatorioNormas:visited{
    color:#048998;
  }
  #recordatorioNormas:hover{
    color:#3bb4c1;
  }

  #normasDonacion{
    text-decoration:none;
  }
  #normasDonacion:link{
    color:#048998;
  }
  #normasDonacion:visited{
    color:#048998;
  }
  #normasDonacion:hover{
    color:#3bb4c1;
  }

  div.polPrivacidad{
      padding-top: 1%;
  }
/*-----------------------AGRADECIMIENTO----------------------- */

#graciasArriba{
    display: flex;
    background-color: #3bb4c1;
    
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #graciasAbajo{
    display: flex;
    height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

    @media only screen and (max-width: 600px){
        
        #graciasAbajo{
            position: relative !important;
            top: -350px;
        }
    }
    
  
  #graciasAbajo div.rowxxx{
margin-top: 20px;
margin-bottom: 20px;
  }


  /* i.fa-thumbs-up{
    color: #f6f5f5;
    font-size: 150px;
   
  } */

  img.iconoGracias{
    color: #f6f5f5;
    height: 200px;
    width: 200px;
   
  }
  h2.graciasCol{
    font-family: 'Sacramento', cursive;
    font-size: 85px;
    font-weight: bold;
    
  }